*{
  background-color: #EAEAEA;
}
.nav, .footer {
  left: 0px;
  width: 100%;
  height: 75px;
  background-color: #3B3A35;
}
.nav {
  position: absolute;
  top: 0px;
}

.nav li{
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid black;
}
.footer {
  position: fixed;
  bottom: 0px;
}

.logo {
  width: 75px;
  height: 75px;
  background-color: inherit;
  display: inline-block;
  float: left;
}

.logo img {
  height: 70px;
  width: 70px;
  padding-left: 2px;
  padding-top: 2px;
}

#markets {
  list-style:none;
  display: inline-block;
}

.coin-logo {
  height: 30px;
  width: 30px;
  float: left;
}

.market-data h6 {
  float: left;
}

.aboutUs, .wiki, .faq, .alink, .link, .home {
  float: right;
  height: 75px;
  width: 100px;
  background-color: #3B3A35;
    border: 1px solid black;
}
.aboutUs a, .wiki a, .faq a, .alink a, .link a, .home a {
  color: #EAEAEA;
  background-color: #3B3A35;
}
.topNav a:hover {
    color: grey;
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .fa {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    background-color: inherit;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.body{
  padding-top: 75px;
}

th, td {
  max-width:101%;
  height: 20px;
  white-space:nowrap;
  border: 1px solid black;
  padding: 0px;
}

#output{
  display: none;
}

.buttons{
  padding: 7px;
}

.BTC-1ST, .BTC-2GIVE, .BTC-ABY, .BTC-ADA, .BTC-ADT, .BTC-ADX, .BTC-AEON, .BTC-AGRS, .BTC-AMP, .BTC-ANT, .BTC-APX, .BTC-ARDR, .BTC-ARK, .BTC-AUR, .BTC-BAT, .BTC-BAY, .BTC-BCC, .BTC-BCY, .BTC-BITB, .BTC-BLITZ, .BTC-BLK, .BTC-BLOCK, .BTC-BNT, .BTC-BRK, .BTC-BRX, .BTC-BSD, .BTC-BTCD, .BTC-BTG, .BTC-BURST, .BTC-BYC, .BTC-CANN, .BTC-CFI, .BTC-CLAM, .BTC-CLOAK, .BTC-CLUB, .BTC-COVAL, .BTC-CPC, .BTC-CRB, .BTC-CRW, .BTC-CURE, .BTC-CVC, .BTC-DASH, .BTC-DCR, .BTC-DCT, .BTC-DGB, .BTC-DGD, .BTC-DMD, .BTC-DNT, .BTC-DOGE, .BTC-DOPE, .BTC-DTB, .BTC-DYN, .BTC-EBST, .BTC-EDG, .BTC-EFL, .BTC-EGC, .BTC-EMC, .BTC-EMC2, .BTC-ENG, .BTC-ENRG, .BTC-ERC, .BTC-ETC, .BTC-ETH, .BTC-EXCL, .BTC-EXP, .BTC-FAIR, .BTC-FCT, .BTC-FLDC, .BTC-FLO, .BTC-FTC, .BTC-FUN, .BTC-GAM, .BTC-GAME, .BTC-GBG, .BTC-GBYTE, .BTC-GCR, .BTC-GEO, .BTC-GLD, .BTC-GNO, .BTC-GNT, .BTC-GOLOS, .BTC-GRC, .BTC-GRS, .BTC-GUP, .BTC-HMQ, .BTC-IGNIS, .BTC-INCNT, .BTC-INFX, .BTC-IOC, .BTC-ION, .BTC-IOP, .BTC-KMD, .BTC-KORE, .BTC-LBC, .BTC-LGD, .BTC-LMC, .BTC-LSK, .BTC-LTC, .BTC-LUN, .BTC-MAID, .BTC-MANA, .BTC-MCO, .BTC-MEME, .BTC-MER, .BTC-MLN, .BTC-MONA, .BTC-MUE, .BTC-MUSIC, .BTC-MYST, .BTC-NAV, .BTC-NBT, .BTC-NEO, .BTC-NEOS, .BTC-NLG, .BTC-MTL, .BTC-NMR, .BTC-NXC, .BTC-NXS, .BTC-NXT, .BTC-OK, .BTC-OMG, .BTC-OMNI, .BTC-PART, .BTC-PAY, .BTC-PDC, .BTC-PINK, .BTC-PIVX, .BTC-PKB, .BTC-POT, .BTC-POWR, .BTC-PPC, .BTC-PTC, .BTC-PTOY, .BTC-QRL, .BTC-QTUM, .BTC-QWARK, .BTC-RADS, .BTC-RBY, .BTC-RCN, .BTC-RDD, .BTC-REP, .BTC-RISE, .BTC-RLC, .BTC-SAFEX, .BTC-SALT, .BTC-SBD, .BTC-SC, .BTC-SEQ, .BTC-SHIFT, .BTC-SIB, .BTC-SLR, .BTC-SLS, .BTC-SNGLS, .BTC-SNRG, .BTC-SNT, .BTC-SPHR, .BTC-SPR, .BTC-START, .BTC-STEEM, .BTC-STORJ, .BTC-STRAT, .BTC-SWIFT, .BTC-SWT, .BTC-SYNX, .BTC-SYS, .BTC-THC, .BTC-TIX, .BTC-TKN, .BTC-TKS, .BTC-TRIG, .BTC-TRST, .BTC-TRUST, .BTC-TX, .BTC-UBQ, .BTC-UKG, .BTC-UNB, .BTC-VIA, .BTC-VIB, .BTC-VOX, .BTC-VRC, .BTC-VRM, .BTC-VTC, .BTC-VTR, .BTC-WAVES, .BTC-WINGS, .BTC-XCP, .BTC-XDN, .BTC-XEL, .BTC-XEM, .BTC-XLM, .BTC-XMG, .BTC-XMR, .BTC-XMY, .BTC-XRP, .BTC-XST, .BTC-XVC, .BTC-XVG, .BTC-XWC, .BTC-XZC, .BTC-ZCL, .BTC-ZEC, .BTC-ZEN {
  display: none;
}

.ETH-1ST, .ETH-ADA, .ETH-ADT, .ETH-ADX, .ETH-ANT, .ETH-BAT, .ETH-BCC, .ETH-BNT, .ETH-BTG, .ETH-CFI, .ETH-CRB, .ETH-CVC, .ETH-DASH, .ETH-DGB, .ETH-DNT, .ETH-ENG, .ETH-ETC, .ETH-FCT, .ETH-FUN, .ETH-GNO, .ETH-GNT, .ETH-GUP, .ETH-HMQ, .ETH-LGD, .ETH-LTC, .ETH-LUN, .ETH-MANA, .ETH-MCO, .ETH-NEO, .ETH-NMR, .ETH-OMG, .ETH-PAY, .ETH-POWR, .ETH-PTOY, .ETH-QRL, .ETH-QTUM, .ETH-RCN, .ETH-REP, .ETH-RLC, .ETH-SALT, .ETH-SC, .ETH-SNT, .ETH-STORJ, .ETH-STRAT, .ETH-TIX, .ETH-TRST, .ETH-UKG, .ETH-VIB, .ETH-WAVES, .ETH-WINGS, .ETH-XEM, .ETH-XLM, .ETH-XMR, .ETH-XRP, .ETH-ZEC {
  display: none;
}

.USDT-ADA, .USDT-BCC, .USDT-BTC, .USDT-BTG, .USDT-DASH, .USDT-ETC, .USDT-ETH, .USDT-LTC, .USDT-NEO, .USDT-NXT, .USDT-OMG, .USDT-XMR, .USDT-XRP, .USDT-XVG, .USDT-ZEC {
  display: none;
}
